<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="../logs" />
    <!-- Add properties to log output -->
    <springProperty scope="context" name="serviceName" source="spring.application.name"/>
    <springProperty scope="context" name="serviceVersion" source="spring.version"/>

    <appender name="jsonRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${serviceName}.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOG_DIR}/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <springProfile name="dev | default">
        <!-- Pretty console output for development -->
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="jsonRollingFileAppender"/>
        </root>
    </springProfile>

    <springProfile name="cloud">
        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="jsonConsoleAppender"/>
        </root>
    </springProfile>

</configuration>
